.sidebar {
  background-color: rgb(30 58 138);
  box-shadow: 0 1px 2px #dcdcdc;

  color: #000;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 99;
  overflow-y: auto;
}

.sidebar.desktop {
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarContent {
  padding: 1rem;
}

.logo {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.logo img {
  max-width: 80%;
  height: auto;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.75rem 1rem;
  color: #ccc;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}

.nav li a:hover {
  background-color: #fff;
  color: rgb(30 58 138);
}

.nav li a.active {
  background-color: #fff;
  color: rgb(30 58 138);
  font-weight: bold;
}

.icon {
  width: 20px;
  text-align: center;
}

.nav li a .icon {
  font-size: 1rem;
}

.nav li a.active .icon {
  color: rgb(30 58 138);
}
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s;
}

.content.withSidebar {
  margin-left: 300px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.showOverlay {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .sidebar.desktop {
    transform: translateX(-100%);
  }

  .content.withSidebar {
    margin-left: 0;
  }
}
